
@model DTOs.ArticuloDTO

@{
}

<div class="container">
    <div id="crear-row" class="row justify-content-center align-items-center">
        <div id="crear-column" class="col-md-10">

            @TempData["mensaje"]
            <h4 class="card-title mb-4 mt-1 ">Nuevo Articulo</h4>
            <form action="/Articulo/Crear" method="post">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Codigo:</label>
                        <input type="number" asp-for="Codigo" class="form-control" placeholder="1688">
                        <span class="text-danger" asp-validation-for="Codigo"></span>

                    </div> <!-- form-group// -->
                    <div class="form-group col-md-6">
                        <label>Descripcion:</label>
                        <input type="text" asp-for="Descripcion" class="form-control" placeholder="">
                        <span class="text-danger" asp-validation-for="Descripcion"></span>

                    </div> <!-- form-group// -->

                </div>





                <div class="form-group ">
                    <input type="submit" value="Guardar" formaction="Crear" class="btn btn-primary" />
                    <input type="submit" value="Guardar y crear otro" formaction="GuardarYCrearOtro" class="btn btn-primary" />
                    <input type="submit" value="Cancelar" formaction="Cancelar" class="btn btn-secondary" />
                </div>

            </form>

        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />