@model DTOs.UsuarioDTO
@{
}
@{
    var returnUrl = ViewData["ReturnUrl"] as string;
}
<div id="login">
    <h3 class="text-center text-white pt-5">Login</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <div class="card">
                        <article class="card-body">
                            <h4 class="card-title mb-4 mt-1">Ingreso sistema de pedido</h4>
                           
                            <form action="/Ingreso/loginUsuario" method="post">
                                <div class="form-group">    
                                    <label>E-mail</label>
                                    <input name="Email" class="form-control" value="@Model.Email" placeholder="Email" type="email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <a class="float-right" href="#"></a>
                                    <label>Contraseña</label>
                                    <input name="Password" class="form-control" value="@Model.Password" placeholder="******" type="password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <p style="color: red">@TempData["Mensaje"]</p>
                                    <button type="submit" class="btn btn-primary btn-block"> Confirmar  </button>
                                </div> <!-- form-group// -->
                            </form>
                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>
        </div>
    </div>
</div>

