<footer class="border-top footer text-muted">
    <div class="container">
        Programacion Web 3 2021C - Grupo N°3 - CENTURION ROCIO- ISAURRALDE ROCIO MACARENA - MACHICADO CUBA JOSE MIGUEL 

    </div>
</footer>