
<div id="login">
    <h3 class="text-center text-white pt-5">Login</h3>
    <div class="container">
        <div  class="row justify-content-center align-items-center">
            <div  class="col-md-6">
                <div class="col-md-12">
                    <div class="alert alert-danger text-center">
                        <h3 class="text-danger">¡Vaya! Algo salio mal. </h3>
                        <p class=" ">Trata de volver a cargar la pagina o no dudes en contactarte con nostros si el problema persiste.</p>

                    </div> <!-- card.// -->
                </div>
            </div>
        </div>
    </div>
</div>

