
@{
}

<div class="container">

    <div class="row justify-content-center align-items-center">
        <div class="col-md-12">

                <button  role="link"  onclick="window.location='/Cliente/Crear'" class="btn btn-primary float-right mt-2 mb-2"> Nuevo Cliente  </button>
            
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Nombre Cliente:</label>
                <select class="custom-select" id="exampleFormControlSelect1">
                    @for (int i = 0; i < 6; i++)
                    {
                        <option>Cliente @i</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Numero:</label>
                <select class="custom-select" id="exampleFormControlSelect1">

                    <option>1</option>
                    <option>2</option>
                    <option>3</option>

                </select>
            </div>
        </div>
        <div class="col-md-4">
          
            <div class="form-check mt-3">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Excluir Eliminados</label>
            </div>
        </div>

    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
            <table class="table  table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center"  scope="col">Nombre</th>
                        <th class="text-center" scope="col">Numero</th>
                        <th class="text-center" scope="col">Telefono</th>
                        <th class="text-center" scope="col">Ver</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < 6; i++)
                    {
                        <tr>
                            <th class="text-center" scope="row">Nombre @i</th>
                            <td class="text-center">estado  @i</td>
                            <td class="text-center">--</td>
                            <td class="text-center"><button  role="link"  onclick="window.location='/Cliente/Editar'" type="button" class="btn btn-info">Ver</button></td>
                        </tr>
                    }




                </tbody>
            </table>


        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 text-center">
            <nav aria-label="Page navigation example  ">

                <ul class="pagination  justify-content-center">
                    <li class="page-item"><a class="page-link" href="#"><i class="bi bi-arrow-left"></i>Anterior</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Siguiente<i class="bi bi-arrow-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
