
@{
}


<div id="registo">
    <div class="container">
        <div id="registo-row" class="row justify-content-center align-items-center">
            <div id="registo-column" class="col-md-6">
                <div id="registo-box" class="col-md-12">
                    <div class="card">
                        <article class="card-body">
                            <h4 class="card-title mb-4 mt-1 ">Registro</h4>
                            <form>
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <input  class="form-control" placeholder="Email" type="email">
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <a class="float-right" href="#"></a>
                                    <label>Contraseña</label>
                                    <input class="form-control" placeholder="******" type="password">
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <a class="float-right" href="#"></a>
                                    <label>Repetir contraseña</label>
                                    <input class="form-control" placeholder="******" type="password">
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <div class="checkbox">
                                        <!-- <label> <input type="checkbox">Guadar cnt </label>-->
                                    </div> <!-- checkbox .// -->
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Registrarme  </button>

                                </div> <!-- form-group// -->
                                <a class="text-center"  asp-controller="Login" asp-action="Login">Ya tengo una cuenta</a>

                            </form>
                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>
        </div>
    </div>
</div>


